<!DOCTYPE html>
<html>
  <head>
    <title></title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    
    <!-- Cascading Style Sheet -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/sys.css">
    <!-- 供应商样式 -->
    <link rel="stylesheet" type="text/css" href="../css/vendor/xx.css">    
    
    <!-- 公共库 -->
    <script type="text/javascript" src="../js/base/core.js"></script>
    <script type="text/javascript" src="../js/base/main.js"></script>
    <script type="text/javascript" src="../js/base/sys.js"></script>
    <script type="text/javascript" src="../js/base/plugins.js"></script>
	<!-- 供应商Js库 -->
	<script type="text/javascript" src="../js/vendor/xx.js"></script>   
	
	<!-- JavaScript part -->
	<script type="text/javascript" lang="JavaScript">
		/* 页面通用部分 */
		
	</script>	
  </head>
  
  <body>
 	<script type="text/javascript" lang="JavaScript">
		/* 页面测试部分 */
		
	</script>	  	 
	
	<table>
		<tr><td></td><td><input type="text" id="" name="" value="" /></td></tr>
		<tr><td></td><td><input type="button" id="" name="" value="" onclick="" /></td></tr>
		<tr><td></td><td><input type="text" id="" name="" value="" /></td></tr>
		<tr><td></td><td><input type="button" id="" name="" value="" onclick="" /></td></tr>
		<tr><td></td><td><input type="text" id="" name="" value="" /></td></tr>
		<tr><td></td><td><input type="button" id="" name="" value="" onclick="" /></td></tr>				
		<tr><td colspan="2"><textarea title="结果展示" rows="20" cols="80" id="showResult" readonly="readonly"></textarea></td></tr>
	</table>
    
    <!-- JavaScript part -->
	<script type="text/javascript" lang="JavaScript">
		/* 页面底部分 */
		
	</script>	 
  </body>
</html>
